@page "/mypage"

@using Whiskey_TastingTale_Frontend.Components
@using Whiskey_TastingTale_Frontend.Services
@using Whiskey_TastingTale_Frontend.ViewModels

@inject UserState UserState
@inject PageState PageState

@inject MyPageViewModel ViewModel
@inject NavigationManager NavigationManager
@inject RestApiHelper helper

<MudGrid Style="padding:10px">
    <MudItem xs="12" sm="12" md="12">
        <MudCard>
            <MudCardContent>
                <MudStack Row="true">
                    <MudText Style="Margin:7px"> <b>"@UserState.Nickname" 님의 마이페이지</b></MudText>
                    <MudSpacer></MudSpacer>
                    <MudButton OnClick="modifyUserInfo" Variant="Variant.Filled" Color="Color.Secondary"> 정보 수정 </MudButton>
                </MudStack>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="12">
        <MudCard Style="padding:10px">
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.Chat" Size="Size.Small" Color="Color.Secondary" />
                <MudText Typo="Typo.body2"> <b>위스키 등록 요청</b>  </MudText>
                <div style="flex-grow: 1;"></div>
                <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos"
                                Color="Color.Secondary"
                                Size="Size.Small"
                                OnClick="@ShowWhiskeyAddPage">
                </MudIconButton>
            </MudStack>
            <MudDivider DividerType="DividerType.Middle" Class="my-3" />
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.Chat" Size="Size.Small" Color="Color.Secondary" />
                <MudText Typo="Typo.body2"> <b>내 리뷰</b>  </MudText>
                <div style="flex-grow: 1;"></div>
                <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos"
                                Color="Color.Secondary"
                                Size="Size.Small"
                                OnClick="@ShowMorePrivateReview">
                </MudIconButton>
            </MudStack>
            <MudDivider DividerType="DividerType.Middle" Class="my-3" />
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.Chat" Size="Size.Small" Color="Color.Secondary" />
                <MudText Typo="Typo.body2"> <b>내 위시리스트</b>  </MudText>
                <div style="flex-grow: 1;"></div>
                <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos"
                                Size="Size.Small"
                                Color="Color.Secondary"
                                OnClick="@ShowMoreWishList">
                </MudIconButton>
            </MudStack>

        </MudCard>
    </MudItem>
</MudGrid>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PageState.LoadStateAsync();
            await UserState.LoadStateAsync(); 

            await ViewModel.LoadData();
            StateHasChanged(); 
        }

        base.OnAfterRender(firstRender);
    }

    private string GetFullImageUrl(string imagePath)
    {
        return helper.server_uri + "images/" + imagePath;
    }

    private void modifyUserInfo()
    {
        NavigationManager.NavigateTo("/private_info");
    } 

    private void ShowMorePrivateReview()
    {
        NavigationManager.NavigateTo("/private_reviews");
    }

    private void ShowMoreWishList()
    {
        NavigationManager.NavigateTo("/private_wishs");
    }

    private void ShowWhiskeyAddPage()
    {
        NavigationManager.NavigateTo("/request_list");
    }
}
