@page "/newreview"
@using Whiskey_TastingTale_Backend.Model
@using Whiskey_TastingTale_Frontend.Services
@using Whiskey_TastingTale_Frontend.ViewModels
@using Whiskey_TastingTale_Frontend.Components
@inject DetailsViewModel ViewModel
@inject NavigationManager NavigationManager
@inject PageState PageState
@inject IJSRuntime JSRuntime
@inject UserState userState 

@inject RestApiHelper helper

<MudAppBar>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" @onclick="GoBack"> </MudIconButton>
</MudAppBar>
<div style="display: flex; justify-content: center; width: 100%;">
    <MudCard Style="margin:20px; max-width:600px; min-width:600px">
        <MudCardContent>
            <MudStack Row="true" Justify="Justify.Center">
                <MudStack AlignItems="AlignItems.Center">
                    <MudImage Src=@GetFullImageUrl(ViewModel.SelectedWhiskey.img_index) ObjectFit="ObjectFit.ScaleDown"></MudImage>
                </MudStack>
                <MudStack>
                    <MudText Typo="Typo.h5">@ViewModel.SelectedWhiskey.whiskey_name</MudText>
                    <MudStack Row="true">
                        <RatingComponent RatingValue=@ViewModel.SelectedWhiskey.rating></RatingComponent>
                        <MudText Typo="Typo.body2"> @Double.Round(ViewModel.SelectedWhiskey.rating, 1) 점 / @ViewModel.SelectedWhiskey.review_count 개의 리뷰 </MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudText Typo="Typo.body2"><b>도수</b></MudText>
                        <MudText Typo="Typo.body2">@ViewModel.SelectedWhiskey.alcohol_degree%</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudText Typo="Typo.body2"><b>제조사</b></MudText>
                        <MudText Typo="Typo.body2">@ViewModel.SelectedWhiskey.maker </MudText>
                    </MudStack>
                </MudStack>
            </MudStack>
        </MudCardContent>
    </MudCard>
</div>
<div style="display: flex; justify-content: center; width: 100%;">
    <MudCard Style="min-width:600px; max-width:600px;">
        <MudCardContent>
            <MudRating @bind-SelectedValue="ViewModel.SelectedRating"> </MudRating>
            <MudTextField T="string" Label="한줄평" Variant="Variant.Outlined" @bind-Value="ViewModel.ReviewText" Lines="3" />
        </MudCardContent>
    </MudCard>
    <MudAppBar Bottom="true" Fixed="true" Color="Color.Primary" Elevation="1">
        <MudSpacer />
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="AddReview"> 리뷰 작성 완료</MudButton>
    </MudAppBar>
</div>
@code {


    protected override async Task OnInitializedAsync()
    {
        if (userState.Token == null) {
            PageState.PriviousPage = "/newreview";
            NavigationManager.NavigateTo("/login");
        }

        base.OnInitialized();
    }
    private async Task GoBack()
    {
        NavigationManager.NavigateTo("/details");
    }

    private async Task AddReview()
    {
        await ViewModel.AddReview();
        NavigationManager.NavigateTo("/details");
    }

    private string GetFullImageUrl(string imagePath)
    {
        return helper.server_uri + "images/" + imagePath;
    }
}
